@charset "utf-8";

body{
	background-color:#B3E9F7;
}
#capture{
	text-align:center;
}
.systemInfo{
	width:19%;
	height:330px;
	float:left;
	margin-left:10px;
}
dl{
	padding-left:0;
}
dt{
	float:left;font-weight:bold;font-size:12px;padding:0;width:32%;text-align:center;
}
dd{
	text-align:left;height:auto;padding:0;
}
input{
	vertical-align:middle;color:#333333;background-color:#ffffff;width:66%;	
}
#totalUsageLabel{
	font-size: 12px;
	display: inline;
	float: right;
	overflow: hidden;
	line-height: 24px;
}
#totalUsageValue{
	overflow: hidden;
	display: block;
	float: right;
	width: 18%;
}
#cpuUsage,#memUsage{
	width:100%;
	height:88%;
}
/*CPU和内存使用情况*/
.usage{
	float:left;
	width:34%;
	height:330px;
	position:relative;
	margin-left:10px;
}
/*磁盘使用情况和进程信息*/
.displayInfo{
	float:left;
	width:95%;
	position:relative;
	margin-left:10px;
}
/*磁盘使用和进程数据展示样式*/
.displayData{
	width:96%;
	height:309px;
}
table{
	width: 100%;
	height:100%;
	font-size: 14px;
	table-layout: fixed;
	empty-cells: show;
	border-collapse: seperate;
	margin: 0 auto;
	border: 1px solid #000000;
	color: #666666;
	text-align:center;
}
tr{
	font-size:13px;
	background-color:#cad9ea;
	color:#000000;
	padding:5px;
	background-color:expression((this.rowIndex%2==0)?"red":"blue");
}
td{
	padding:5px;
	background-color:#ffffff;
}
tr:hover td{
	background-color:#ff9900;
}