@charset "utf-8";
body{
	margin:0 auto;
	text-align:center;
	/*background-color: #15171F;*/
}
.outer{
	/*margin: 189px auto;
	background-image:url(../Images/login_CH.png);
	width: 600px;
	height: 400px;
	margin-left: 32%; Chrome
	*/
	
	position: absolute;
	
	background-image: url(../Images/login_CH.png);
	width: 1200px;
	height:570px;
	left: 6%;
	top: 0%;
}
#username{
	/*position: relative;
	left: 146px;
	top: 228px;
	height: 28px;
	width:160px;*/
	position: absolute;
	left: 48%;
	top: 54.5%;
	height: 46px;
	width: 200px;
}
#password{
	/*position: relative;
	left: -18px;
	top: 281px;
	height: 28px;
	width:160px;*/
	position: absolute;
	left: 48%;
	top: 67%;
	height: 46px;
	width: 200px;
}
.submit,.reset{
	width: 63px;
	opacity: 0;
	filter:alpha(opacity=0);
	cursor:pointer;
}
#submit{
	/*position: relative;
	left: -190px;
	top: 351px;*/
	position: absolute;
	left: 45%;
	top: 75%;
	height: 65px;
	width: 120px;
}
#reset{
	/*position: relative;
	left: -136px;
	top: 350px;*/
	position: absolute;
	left: 55%;
	top: 75%;
	height: 65px;
	width: 120px;
}