@charset "utf-8";
body{
	margin:0 auto;
	text-align:center;
	/*background-color: #15171F;*/
}
.outer{
	position: relative;
	background-image: url(../Images/login_CH.png);
	width: 1200px;
	height:650px;
	left: 6%;
	top: 0%;
}
.inputField{
border-top-width: 0px;
border-bottom-width: 0px;
border-left-width: 0px;
border-right-width: 0px;
border-bottom-color: #000000;
filter: alpha(opacity=40);
opacity: 0.4;
}

#username{
position: relative;
left: 24.5%;
top: 310;
height: 48px;
width: 308px;
}

#password{
position: relative;
left: -2%;
top: 385;
height: 48px;
width: 308px;
}
.submit,.reset{
	width: 63px;
	opacity: 0;
	filter:alpha(opacity=0);
	cursor:pointer;
}
#submit{
position: absolute;
left: 45.5%;
top: 451;
width: 112;
height: 41;
}
