@charset "utf-8";

body{/*
	width:100%;
	background-image:url(../Images/background.bmp);
	background-size:100%;
	background-repeat:no-repeat;
	display:block;*/
}
img{
	border:none;
}
.serverPic_top{
	position: absolute;
	top: 121px;
}
#server0{
	left:24%;
}
#server1{
	left:35.5%;
}
#server2{
	left:53.4%;
}
#server3{
	left:62.4%;
}
#server4{
	left:73%;
}
.softPic_left{
	position:absolute;
	left:13%;
	
}
#soft0{
	top: 124px;
}
#soft1{
	top: 182px;
}
#soft2{
	top: 300px;
}
#soft3{
	top: 360px;
}
#dbserver0{
	position: absolute;
	left: 23%;
	top: 301px;
}
#dbserver1{
	position: absolute;
	left: 32%;
	top: 301px;
}
#nasgate{
	position: absolute;
	left: 41%;
	top: 331px;
}
#appserver0{
	position: absolute;
	left: 57%;
	top: 315px;
}
#appserver1{
	position: absolute;
	left: 66.4%;
	top: 315px;
}
.softPic_right{
	position: absolute;
	left: 81%;
}
#soft4{
	top:109px;
}
#soft5{
	top:157px;
}
#soft6{
	top:203px;
}
#soft7{
	top:300px;
}
#soft8{
	top:360px;
}
#switch0{
	position: absolute;
	left: 19%;
	top: 427px;
}
#switch1{
	position: absolute;
	left: 39%;
	top: 427px;
}
#sanpic{
	position: absolute;
	left: 27%;
	top: 491px;
}
